body {
  background-color: black;
  color: white;
  text-align: center;
  border: none;
  margin: 120px;

}
.wrapper {
  width: fit-content;
  margin: auto;
}
.hint-div {
  display: flex;
  color: whitesmoke;
}
.hint-btn,
.reset-btn,
.notif-btn {
  cursor: pointer;
  transition: 0.4s;
  background-color: blue;
  color: whitesmoke;
}
.hint-btn:hover,
.reset-btn:hover,
.notif-btn:hover {
  background-color: green;
  color: whitesmoke;
}
.reset-btn,
.hint-btn {
  margin-left: 100px;
}
.letter-div{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  border: solid;
}
.alpha {
  width: 2rem;
  height: 2rem;
  background: blue;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}
.alpha:hover {
  background-color: green;
  border: none;
}
.disabled {
  pointer-events: none;
  background-color: darkgray;
}

.word-div {
  display: inline-flex;
}
.word {
  margin-right: 1.5rem;
}

.notif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  width: 20rem;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}